<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/stile.css">
    <title>{{titolo}}</title>
</head>
<body>
    <!--Header-->
    {{> header }}
   
    <h1>Ciao {{nome}}</h1>
    <h2>Il titolo è: {{titolo}}</h2>

    <p>Il mio pet preferito <span><b>{{ pet }}</b></span></p>

<!--Header-->
{{> footer }}
</body>
</html>